.cloudus {
  background-image: url("../assets/cloudus.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.atmospheric {
  background-image: url("../assets/atmospheric.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.clear {
  background-image: url("../assets/clear.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.drizzle {
  background-image: url("../assets/drizzle.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.rain {
  background-image: url("../assets/rainy.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.snow {
  background-image: url("../assets/snow.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.thunderstom {
  background-image: url("../assets/thunderstom.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.icon {
  height: 200px;
  width: 200px;
  color: aquamarine;
}

@media only screen and (max-width: 600px) {
  .sunny {
    background-size: 100% 100%;
  }
}
.whethericon {
  height: 100px;
  width: 100px;
  color: rgb(250, 239, 85);
}
.temperature {
  font-size: 50px;
  margin: 20px;
}
.table {
  height: 100px;
  width: 300px;
  background-color: rgb(154, 156, 156);
}
@media only screen and (max-width: 600px) {
  .table {
    height: auto;
    width: 100%;
    margin: 20px;
  }
}
.search {
  margin-left: 100px;
}
@media only screen and (max-width: 600px) {
  .search {
    margin: 10px;
  }
}
